@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import 'tailwindcss';

:root{
  --my-primary: #67768e;
  --my-secondary: #7D8BA1;
  --my-dark:  #0d1117;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 1rem;
  background: var(--my-dark) !important;
 
}

.bg-my-primary {
  background: var(--my-primary);
}
.bg-my-secondary {
  background: var(--my-secondary);
}

.bg-my-dark {
  background: var(--my-dark);
}

header {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
}

h1 {
  font-size: large;
  font-weight: 600;
}

p{
  margin-top: -5px;
}

.done {
  background: #ccc;
}

@media (max-width: 475px) {
  body {
    background: #67768e;
    opacity: 0;
  }
}
