@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import 'tailwindcss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding: 1rem;
  background: #0d1117;
}

.bg-my-primary {
  background: #67768e;
}

header {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  /* justify-content: center; */
  padding: 0.5rem;
}

h1 {
  font-size: large;
  font-weight: 600;
  /* color: #573498; */
}

button {
  width: 100px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: none;
}

input[type='text'] {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px #ccc solid;
  height: 35px; /*! NB*/
  margin-right: 5px;
}

#todo-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#todo-list > div {
  border: 1px #666 solid;
  padding: 10px;
  margin: 5px;
}

.done {
  background: #ccc;
}

@media (max-width: 361px) {
  body {
    background: #67768e;
    opacity: 0;
  }
}
